---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card/index.astro";
import AboutMe from "../components/AboutMe.astro";
import Intro from "../components/Intro.astro";
import Contact from "../components/Contact.astro"; 
import TimeZoneCard from "../components/TimeZoneCard.astro";
import Now from "../components/Now.astro";
import ProjectsCard from "../components/ProjectsCard.astro";
import Credits from "../components/Credits.astro";
import Pulse from "../components/Pulse/index.astro";
---

<Layout 
	title="Pau Sansa - Fullstack Developer"
	description="Software developer with an insatiable curiosity for crafting digital wonders."
>
<main class="text-white m-auto p-2 grid gap-2 max-w-6xl overflow-hidden relative w-full sm:p-4 sm:gap-2 md:gap-3 md:p-6 lg:h-screen lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]">
	<Intro />
	<AboutMe />
	<Contact />
	<TimeZoneCard />
	<ProjectsCard />
	<Now />
	<Credits />
	<Pulse />
</main>
	  


</Layout>
