---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card/index.astro";
import BackArrow from "../components/BackArrow.astro"
import ProjectsGrid from "../components/ProjectsGrid.astro";
---

<Layout 
title="Projects"
description="Projects I've worked on"
>
<main class="block text-white m-auto overflow-auto h-full w-full md:p-10 p-5">
        <section class="card text-white group overflow-auto bg-darkslate-300 shadow-lg rounded-lg gap-3 p-3 md:p-6 border border-darkslate-100 flex flex-col">
            <div class="card flex flex-col items-center">
                <BackArrow href="/"/>
                <h2 transition:name="projects"> Projects </h2>
            </div>
            <ProjectsGrid/>
        </section>
</main>
</Layout>