---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Pau Sansa, a fullstack software developer from Spain.
      <br />
       My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>Java</li>
        <li>Spring Boot</li>
        <li>MongoDB</li>
        <li>MySQL</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Astro</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      I am passionate about the world of programming and everything related to it. Whenever I can, I attend fairs or hackathons, and I enjoy following and reading content related to it.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even if it's not on my usual list. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
