---
import Card from '../components/Card/index.astro'
---
<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
    <p class="text-xs">
      © 2023 · Crafted with ♥️ using <a
        href="https://astro.build/"
        target="_blank"
        class="text-red-500">Astro</a
      >  and <a
      href="https://tailwindcss.com/"
      target="_blank"
      class="text-red-500">Tailwind CSS</a
      >         
      by Pau Sansa.
      Inspired in <a
      href="https://www.linkedin.com/in/gianmarco-cavallo/"
      target="_blank"
      class="text-red-500">Gianmarco Cavallo</a> portfolio
    </p>
  </Card> 