---
import Card from "./Card/index.astro";
---
<a href="/projects">
<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
    <h2 transition:name="projects" class="text-xl font-bold m-0">Projects</h2>
    <p>Click here are to see some of the projects I've worked on.</p>
</Card>
</a>